*{
    background-color: #0f0f0f;
    color: #f1f1f1; 
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;  
}

a{
    text-decoration: none;
}

body{
    height: 100vh;
}

.container{
    /*border: solid 1px rebeccapurple;*/
    /*padding: 5px;*/
    background-color: transparent;
    /*border-radius: 5px;*/
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 15% 1fr 1fr;
    grid-template-rows: 15% auto 10%;
    grid-template-areas: 
    "header header header"
    "sidebar main main"
    "sidebar main main";
}

header{
    grid-area: header;
    box-sizing: border-box;
    /*border: solid 3px blue;
    background-color: red;*/
    color: black;
    border-radius: 3px;
    position: fixed;

    display: grid;
    grid-template-columns: 10% 60% 30%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "htop htop htop"
    "ltop ltop ltop";
}

.cabecera-top{
    grid-area: htop;
    box-sizing: border-box;
    /*border: solid 3px rgb(102, 21, 111);*/
    background-color: #0f0f0f;
    border-radius: 3px;
    display: flex;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

.ctopl{
    flex-grow: 1;
    box-sizing: border-box;
    /*border: solid 3px blueviolet;*/
    background-color: transparent;
    color: black;
    border-radius: 3px;
    width: 169px;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items:center;
}

.guidebutton{
    /*background-color: #0f0f0f;*/
    width: 40px;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;

}
.iconbutton{
    display: flex;
    height: 56px;
    width: 129px;
}

.svg-icono{
    padding: 18px 14px 18px 16px;
    width: 90px;
    height: 20px;
}

.ctopc{
    flex-grow: 2;
    box-sizing: border-box;
    /*border: solid 1px green;*/
    background-color: transparent;
    border-radius:  3px;
    width: 464.4px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 1 728px;
}

.search-center{
    margin: 0 0 0 40px;
    padding: 0 4px;
    flex: 1;
    flex-basis: 1e-9px;
    width: 636px;
    height: 40px;
    display: flex;
    border-radius: 25px;
    /*border: 1px solid rebeccapurple;*/
    box-sizing: border-box;
    background-color: transparent;
}

.searchbar{
    /*box-sizing: border-box;
    padding: 1px 0;
    margin: 0;
    background-color: transparent;*/
    /*border: solid 1px red;*/
    position: relative;
    align-items: center;
    border-radius: 40px 0 0 40px;
    border: 1px solid;
    border-right: none;
    /*box-shadow: inset 0 1px 2px;*/
    padding: 0px 4px 0px 16px;
    margin-left: 32px;
    flex: 1;
    flex-basis: 1e-9px;
    display: flex;
    flex-direction: row;
    /*box-shadow: none;
    font-size: 16px;
    max-width: 519.2px;
    width: 100%;
    height: 30px;
    outline: none;
    text-align: inherit;*/

}

.lupaiconbox{
    border: 1px solid;
    border-radius: 0 40px 40px 0;
    width: 64px;
    height: 38px;
    margin: 0;
    cursor: pointer;
    /*background-color: red;*/
    padding: 0px 6px;
}

.botonlupa{
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 6px 2px 4px 7px;

}

.botonlupa img{
    width: 24px;
    height: 24px;
}

.microiconbox{
    width: 40px;
    height: 40px;
    border: solid 1px black;
    border-radius: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 18.82%);
    margin: 5px;
}

.micro-button{
    border: none;
    background-color: transparent;
}

.micro-button a{
    background-color: transparent;
}

.microiconbox img{
    width: 24px;
    height: 24px;
    background-color: transparent;
}

.ctopr{
    flex-grow: 1;
    box-sizing: border-box;
    /*border: solid 3px green;
    background-color: rgb(0, 255, 68);*/
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: end;
    align-items: center;
}

.createbutton{
    width: 50px;
    height: 36px;
    /*border: solid 1px black;*/
    border-radius: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: aqua;*/
    border: none;
}

.createbutton img{
    width: 24px;
    height: 24px;
}

.notibutton{
    width: 50px;
    height: 36px;
    /*border: solid 1px black;*/
    border-radius: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: aqua;*/
    border: none;
    padding-right: 8px;
}

.notibutton img{
    width: 24px;
    height: 24px;
}

.profilepic img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.cabecera-bot{
    grid-area: ltop;
    box-sizing: border-box;
    /*border: solid 3px blue;*/
    background-color: #0f0f0f;
    border-radius: 3px;
    height: 56px;
    width: auto;
    padding-bottom: 0;
    /*margin-top: 65px;*/
    margin-left: 5px;
    /*position: fixed;*/
    overflow: hidden;

    display: flex;
    white-space: nowrap;
}

.cabecera-bot ul{
    margin-left: 0;
    padding-left: 15px;
    padding-top: 5px;
    line-height: 24px;
    display: flex;
    align-self: flex-end;
    width: 210px;
    height: 40px;
    margin-right: 35px;
    border-radius: 15px;
    /*border: solid 1px blue;*/
    background-color: #FFFFFF1A;
}
.cabecera-bot ul a{
    background-color: transparent;
}
.cabecera-bot ul a div{
    background-color: transparent;
}
.cabecera-bot ul a div img{
    background-color: transparent;
}
.cabecera-bot ul a h3{
    background-color: transparent;
}

.cabecera-bot button{
    border-radius: 8px;
    margin: 15px;
    height: 32px;
    min-width: 12px;
    box-sizing: border-box;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    display: inline-flex;
    padding: 0 12px;
    margin: 12px 12px 12px 0; 
    background-color: #FFFFFF1A;
}

main{
    grid-area: main;
    box-sizing: border-box;
    /*border: solid 3px grey;
    background-color: #FFFFFF1A;*/
    border-radius: 3px;
    padding: 24px 35px 0 35px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "1 2 3"
    "4 5 6"
    "7 8 9";
}

footer{
    grid-area: footer;
    box-sizing: border-box;
    /*border: solid 3px blue;
    background-color: red;*/
    color: black;
    border-radius: 3px;
}

.contenido{
    box-sizing: border-box;
    border: solid 3px transparent;
    border-radius: 3px;
    align-items: stretch;
    max-height: 100%;
}

.video{
    padding: 13px 13px 3px 13px;
    /*background-color: aqua;*/
}

.descripcion-video{
    display: flex;
    width: 100%;
    padding: 0 13px;
    flex-flow: row;
}

.canal-imagen-video{
    height: 36px;
    margin-top: 0px;
    margin-right: 12px;
    /*border: solid red 1px;*/
}
.canal-imagen-video img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
}
.info-video{
    width: 100%;
    height: 100px;
    /*border: solid 1px red;*/
    

    display: grid;
    grid-template-columns: auto 5% 1fr;
    grid-template-rows: 35% 30% 35%;
    grid-template-areas: 
    "topp topp topp"
    "mid mid mid"
    "bleft bcenter bright";
}

.titulo-video a{
    font-size: 16px;
    font-weight: bolder;
    overflow: hidden;
    max-height: 4.4rem;
    display: block;
    text-overflow: ellipsis;
    white-space: wrap;
    padding-right: 24px;
    -webkit-line-clamp: 2;  
}

.nombre-canal a {
    font-size: 14px;
    /*line-height: 2rem;*/
}

.info-video h4{
    font-size: 14px;
    font-weight: normal;
}

img{
    width: 100%;
    border-radius: 20px;
}

/*#logo{
    width: 100%;
    border-radius: 30px;
}*/

.titulo-video{
    padding: 0 2px 8px 2px;
    font-size: smaller;
    border: solid black 1px;
    grid-area: topp;
    height: 0px;

}

.nombre-canal{
    /*border: solid black 1px;*/
    grid-area: mid;
    padding: 0 2px 8px 2px;
}

.views-video{
    /*border: solid black 1px;*/
    grid-area: bleft;
    padding: 0 2px 8px 2px;
}

.simbolo{
    grid-area: bcenter;
    padding: 0 2px 8px 4px;
}

.date-video{
    /*border: solid black 1px;*/
    grid-area: bright;
    padding: 0 2px 8px 2px;
}

/*.sidebartop{
    grid-area: asdw;
    box-sizing: border-box;
    border: solid 2px aqua;
    background-color: green;
}*/

.sidebar{
    grid-area: sidebar;
    box-sizing: border-box;
    /*border: solid 3px blue;
    background-color: green;*/
    border-radius: 3px;
}

section{
    margin: 5px;
    display: block;
    /*border: solid 2px red;*/
    /*position: fixed;*/
    overflow-y: visible;
}

#iconos-section{
    padding: 5px;
    margin-right: 21px;
    width: 24px;
    height: 24x;
    display: flex;
    justify-self: center;
    /*background-color: yellow;*/
}
section ul{
    padding: 0 12px;
    /*border: solid 1px rebeccapurple;*/
    min-width: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    line-height: 24px;
    font-weight: 400;
    width: 180px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

ul a{
    padding: 0px;
    width: 100%;
    /*background-color: palevioletred;*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

ul h3{
    font-size: 14px;
    font-weight: normal;
}
.seccion-uno{
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 15px;
}
.seccion-dos{
    border-top: #FFFFFF1A 2px solid;
    padding-top: 15px;
    padding-bottom: 15px;
}

.seccion-explore{
    border-top: #FFFFFF1A 2px solid;
    padding-top: 15px;
    padding-bottom: 15px;
}

.seccion-explore h2{
    margin-left: 15px;
    font-weight: normal;
    font-size: 16px;
}

.seccion-settings{
    border-top: #FFFFFF1A 2px solid;
    border-bottom: #FFFFFF1A 2px solid;
    padding-bottom: 15px;
    padding-top: 15px;

}

.footer{
    margin-top: 15px;
    width: 175px;
    margin-bottom: 15px;
    margin-left: 17px;
}

.footer a{
    color: #AAAAAA;
    font-size: 13px;
    font-weight: bold;
    margin-right: 3px;
}

.footer h5{
    color: #717171;
    font-size: 12px;
    font-weight: normal;
}