*{
    background-color: #0f0f0f;
    font-family: Roboto, Arial, sans-serif;
    color: #f1f1f1; 
    padding: 0;
    margin: 0;  
}

body{
    height: 100vh;
}

.container{
    border: solid 1px rebeccapurple;
    /*padding: 5px;*/
    background-color: transparent;
    /*border-radius: 5px;*/
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 15% 1fr 1fr;
    grid-template-rows: 15% auto 10%;
    grid-template-areas: 
    "header header header"
    "sidebar main main"
    "footer main main";
}

header{
    grid-area: header;
    box-sizing: border-box;
    border: solid 3px blue;
    background-color: transparent;
    color: black;
    border-radius: 3px;

    display: grid;
    grid-template-columns: 15% 55% 30%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "htop htop htop"
    "barside ltop ltop";
}

.cabecera-top{
    grid-area: htop;
    box-sizing: border-box;
    border: solid 3px rgb(102, 21, 111);
    background-color: transparent;
    border-radius: 3px;
    display: flex;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.ctopl{
    flex-grow: 1;
    box-sizing: border-box;
    border: solid 3px blueviolet;
    background-color: transparent;
    color: black;
    border-radius: 3px;
    width: 169px;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items:center;
}

.guidebutton{
    /*background-color: #0f0f0f;*/
    width: 40px;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;

}
.iconbutton{
    display: flex;
    height: 56px;
    width: 129px;
}

.svg-icono{
    padding: 18px 14px 18px 16px;
    width: 90px;
    height: 20px;
}

.ctopc{
    flex-grow: 2;
    box-sizing: border-box;
    border: solid 1px green;
    background-color: transparent;
    border-radius:  3px;
    width: 464.4px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 1 728px;
}

.search-center{
    margin: 0 0 0 40px;
    padding: 0 4px;
    flex: 1;
    flex-basis: 1e-9px;
    width: 636px;
    height: 40px;
    display: flex;
    border-radius: 25px;
    border: 1 px solid;
    box-sizing: border-box;
    background-color: transparent;
}

.searchbar{
    /*box-sizing: border-box;
    padding: 1px 0;
    margin: 0;
    background-color: transparent;
    border: solid 1px red;*/
    position: relative;
    align-items: center;
    border-radius: 40px 0 0 40px;
    border: 1px solid ;
    border-right: none;
    /*box-shadow: inset 0 1px 2px;*/
    padding: 0px 4px 0px 16px;
    margin-left: 32px;
    flex: 1;
    flex-basis: 1e-9px;
    display: flex;
    flex-direction: row;
    /*box-shadow: none;
    font-size: 16px;
    max-width: 519.2px;
    width: 100%;
    height: 30px;
    outline: none;
    text-align: inherit;*/

}

.lupaiconbox{
    border: 1px solid blue;
    border-radius: 0 40px 40px 0;
    width: 64px;
    height: 40px;
    margin: 0;
    cursor: pointer;
    background-color: transparent;
    padding: 1px 6px;
}

.botonlupa img{
    width: 24px;
    height: 24px;
}

.microiconbox{
    width: 50px;
    height: 36px;
    border: solid 1px black;
    border-radius: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

.microiconbox img{
    width: 24px;
    height: 24px;
}

.ctopr{
    flex-grow: 1;
    box-sizing: border-box;
    border: solid 3px green;
    background-color: rgb(0, 221, 255);
    color: black;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: end;
    align-items: center;
}

.createbutton{
    width: 50px;
    height: 36px;
    border: solid 1px black;
    border-radius: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

.createbutton img{
    width: 24px;
    height: 24px;
}

.notibutton{
    width: 50px;
    height: 36px;
    border: solid 1px black;
    border-radius: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

.notibutton img{
    width: 24px;
    height: 24px;
}

.profilepic img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.notibutton{
}

.cabecera-bot{
    grid-area: ltop;
    box-sizing: border-box;
    /*border: solid 3px blue;*/
    background-color: transparent;
    border-radius: 3px;
    height: 56px;
    width: 100%;

    display: inline-block;
    white-space: nowrap;
}

.cabecera-bot button{
    border-radius: 16px;
    margin: 15px;
    height: 32px;
    min-width: 12px;
    box-sizing: border-box;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    display: inline-flex;
    padding: 0 12px;
    margin: 12px 12px 12px 0; 
    background-color: #FFFFFF1A;
}

main{
    grid-area: main;
    box-sizing: border-box;
    border: solid 3px blue;
    background-color: transparent;
    color: black;
    border-radius: 3px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "1 2 3 4"
    "5 6 7 8";
}

footer{
    grid-area: footer;
    box-sizing: border-box;
    border: solid 3px blue;
    background-color: red;
    color: black;
    border-radius: 3px;
}

.sidebar{
    grid-area: sidebar;
    box-sizing: border-box;
    border: solid 3px blue;
    background-color: green;
    color: black;
    border-radius: 3px;
}

.contenido{
    box-sizing: border-box;
    border: solid 3px blue;
    background-color: yellow;
    color: black;
    border-radius: 3px;
}

.video{
    padding: 3px;
    background-color: aqua;
}

.descripcion-video{
    display: flex;
    width: 100%;

    flex-flow: row;
}

.canal-imagen-video{
    width: 28%;
    border: solid black 1px;
}

.info-video{
    width: 80%;
    border: solid 1px black;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 35% 30% 35%;
    grid-template-areas: 
    "topp topp"
    "mid mid"
    "bleft bright";
}

img{
    width: 100%;
    border-radius: 20px;
}

#logo{
    width: 90%;
    border-radius: 30px;
}

.titulo-video{
    padding: 0 2px 8px 2px;
    font-size: smaller;
    border: solid black 1px;
    grid-area: topp;

}

.nombre-canal{
    border: solid black 1px;
    grid-area: mid;
}

.views-video{
    border: solid black 1px;
    grid-area: bleft;
}

.date-video{
    border: solid black 1px;
    grid-area: bright;
}