body{
    background-color: #0f0f0f;
    height: 100vh;
}

.container{
    border: solid 1px rebeccapurple;
    /*padding: 5px;*/
    background-color: pink;
    /*border-radius: 5px;*/
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 20% 1fr 1fr;
    grid-template-rows: 10% auto 10%;
    grid-template-areas: 
    "header header header"
    "sidebar main main"
    "footer main main";
}

header{
    grid-area: header;
    box-sizing: border-box;
    border: solid 3px blue;
    background-color: yellow;
    color: black;
    border-radius: 3px;

    display: grid;
    grid-template-columns: 20% 50% 30%;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "htop htop htop"
    "hbot hbot hbot";
}

.cabecera-top{
    grid-area: htop;
    box-sizing: border-box;
    border: solid 3px blue;
    background-color: yellow;
    color: black;
    border-radius: 3px;
    display: flex;
    width: 159px;
    height: 56px;
    padding: 0 16px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.ctopl{
    flex-grow: 1;
    box-sizing: border-box;
    border: solid 3px blueviolet;
    background-color: orange;
    color: black;
    border-radius: 3px;
    width: 169px;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items:center;
}

.guidebutton{
    /*background-color: #0f0f0f;*/
    width: 40px;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;

}
.iconbutton{
    display: flex;
    height: 56px;
    width: 129px;
}

.svg-icono{
    padding: 18px 14px 18px 16px;
    width: 90px;
    height: 20px;
}

.ctopc{
    flex-grow: 2;
    box-sizing: border-box;
    border: solid 3px green;
    background-color: orange;
    color: black;
    border-radius: 3px;
    width: 464.4px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 1 728px;
}

.search-center{
    margin: 0 0 0 40px;
    padding: 0 4px;
    flex: 1;
    flex-basis: 1e-9px;
    width: 372px;
    height: 40px;
    display: flex;
}

.searchbar{
    box-sizing: border-box;
    padding: 1px 0;
    margin: 0;
    background-color: transparent;
    border: solid 1px red;
    border-radius: 5px;
    box-shadow: none;
    font-size: 16px;
    max-width: 100%;
    width: 100%;
    outline: none;
    text-align: inherit;

}

.lupaiconbox{
    width: 50.400px;
    height: 36.400px;
}

.botonlupa img{
    width: 100%;
}

.microiconbox{
    width: 50px;
    height: 36px;
    border: solid 1px black;
    border-radius: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

.microiconbox img{
    width: 60%;
}

.ctopr{
    flex-grow: 1;
    box-sizing: border-box;
    border: solid 3px green;
    background-color: orange;
    color: black;
    border-radius: 3px;
}

.cabecera-bot{
    grid-area: hbot;
    box-sizing: border-box;
    border: solid 3px blue;
    background-color: yellow;
    color: black;
    border-radius: 3px;

    display: inline-block;
    white-space: nowrap;
}

button{
    border-radius: 7px;
    margin: 5px;
}

main{
    grid-area: main;
    box-sizing: border-box;
    border: solid 3px blue;
    background-color: yellow;
    color: black;
    border-radius: 3px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "1 2 3 4"
    "5 6 7 8";
}

footer{
    grid-area: footer;
    box-sizing: border-box;
    border: solid 3px blue;
    background-color: yellow;
    color: black;
    border-radius: 3px;
}

.sidebar{
    grid-area: sidebar;
    box-sizing: border-box;
    border: solid 3px blue;
    background-color: yellow;
    color: black;
    border-radius: 3px;
}

.contenido{
    box-sizing: border-box;
    border: solid 3px blue;
    background-color: yellow;
    color: black;
    border-radius: 3px;
}

.video{
    padding: 3px;
    background-color: aqua;
}

.descripcion-video{
    display: flex;
    width: 100%;

    flex-flow: row;
}

.canal-imagen-video{
    width: 28%;
    border: solid black 1px;
}

.info-video{
    width: 80%;
    border: solid 1px black;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 35% 30% 35%;
    grid-template-areas: 
    "topp topp"
    "mid mid"
    "bleft bright";
}

img{
    width: 100%;
    border-radius: 20px;
}

#logo{
    width: 90%;
    border-radius: 30px;
}

.titulo-video{
    padding: 0 2px 8px 2px;
    font-size: smaller;
    border: solid black 1px;
    grid-area: topp;

}

.nombre-canal{
    border: solid black 1px;
    grid-area: mid;
}

.views-video{
    border: solid black 1px;
    grid-area: bleft;
}

.date-video{
    border: solid black 1px;
    grid-area: bright;
}