body{
    background-color: #0f0f0f;
    height: 100vh;
}

.container{
    border: solid 1px rebeccapurple;
    /*padding: 5px;*/
    background-color: pink;
    /*border-radius: 5px;*/
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 20% 1fr 1fr;
    grid-template-rows: 10% auto 10%;
    grid-template-areas: 
    "sidebar header header"
    "sidebar main main"
    "footer main main";
}

header{
    grid-area: header;
    box-sizing: border-box;
    border: solid 3px blue;
    background-color: yellow;
    color: black;
    border-radius: 3px;

    display: grid;
    grid-template-columns: 20% 50% 30%;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "htop htop htop"
    "hbot hbot hbot";
}

.cabecera-top{
    grid-area: htop;
    box-sizing: border-box;
    border: solid 3px blue;
    background-color: yellow;
    color: black;
    border-radius: 3px;
}

.cabecera-bot{
    grid-area: hbot;
    box-sizing: border-box;
    border: solid 3px blue;
    background-color: yellow;
    color: black;
    border-radius: 3px;

    display: inline-block;
}

button{
    border-radius: 7px;
    margin: 5px;
}

main{
    grid-area: main;
    box-sizing: border-box;
    border: solid 3px blue;
    background-color: yellow;
    color: black;
    border-radius: 3px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "1 2 3 4"
    "5 6 7 8";
}

footer{
    grid-area: footer;
    box-sizing: border-box;
    border: solid 3px blue;
    background-color: yellow;
    color: black;
    border-radius: 3px;
}

.sidebar{
    grid-area: sidebar;
    box-sizing: border-box;
    border: solid 3px blue;
    background-color: yellow;
    color: black;
    border-radius: 3px;
}

.contenido{
    box-sizing: border-box;
    border: solid 3px blue;
    background-color: yellow;
    color: black;
    border-radius: 3px;
}

.video{
    padding: 3px;
    background-color: aqua;
}

.descripcion-video{
    display: flex;
    width: 100%;

    flex-flow: row;
}

.canal-imagen-video{
    width: 28%;
    border: solid black 1px;
}

.info-video{
    width: 80%;
    border: solid 1px black;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 35% 30% 35%;
    grid-template-areas: 
    "topp topp"
    "mid mid"
    "bleft bright";
}

img{
    width: 100%;
    border-radius: 20px;
}

#logo{
    width: 90%;
    border-radius: 30px;
}

.titulo-video{
    padding: 0 2px 8px 2px;
    font-size: smaller;
    border: solid black 1px;
    grid-area: topp;

}

.nombre-canal{
    border: solid black 1px;
    grid-area: mid;
}

.views-video{
    border: solid black 1px;
    grid-area: bleft;
}

.date-video{
    border: solid black 1px;
    grid-area: bright;
}